#navigation-container {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 50;
}

.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out;
}

#navigation-container .nav-item-name {
  display: inline-block;
  opacity: 1;
  margin-left: 8px;
}

#navigation-container:hover .nav-item-name {
  opacity: 1;
}

.navbar-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  position: relative; /* Make sure we can position pseudo-element relative to this link */
  overflow: hidden;  /* Hide the box overflow */
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width of the link */
  height: 100%; /* Full height of the link */
  background-color: #ff4081; /* Color of the box */
  transition: all 0.3s ease-in-out; /* Smooth transition for all properties */
  transform: scaleX(0); /* Initially the box is scaled down to zero */
  transform-origin: bottom right; /* Start expanding from bottom-right */
}

.navbar-link:hover {
  color: white; /* Optional: change text color when hovered */
  transform: translateX(10px);
}

.navbar-link:hover::before {
  transform: scaleX(1); /* On hover, the box expands to full size */
  transform-origin: bottom left; /* The box expands from bottom-left */
}

.navbar-link svg {
  margin-right: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease;
}

.dropdown-menu a:hover {
  background-color: #ff4081;
}

.dropdown-icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}
