/* Tailwind Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #121212;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-track {
  background: #1a1a1a !important; /* Darker track */
}

::-webkit-scrollbar-thumb {
  background: #333 !important; /* Darker thumb */
  border-radius: 4px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #444 !important; /* Slightly lighter thumb on hover */
}


html, body {
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}



/* Toast animation */
@keyframes toast-pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.toast-pop {
  animation: toast-pop 0.5s ease-out;
}

input,
textarea {
  color: #000;
}
