@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #121212;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

/* Add this to your global CSS (like index.css or App.css) */
@keyframes toast-pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.toast-pop {
  animation: toast-pop 0.5s ease-out;
}


/* More intense dark themed scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* Darker track */
}

::-webkit-scrollbar-thumb {
  background: #333; /* Darker thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444; /* Slightly lighter thumb on hover */
}

input,
textarea {
  color: #000;
}
